@import url("https://fonts.googleapis.com/css?family=Mukta:700");

body{
	font-family: 'Mukta', sans-serif;
	min-height:100vh;
	font-size: 16px;
	margin:0;
}

.wrapper{
	position: absolute;
	top:35%;
	left:50%;
	transform: translate(-50%, 50%);
}

button{
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border:0;
	padding: 0;
	background:transparent;
	font-family: inherit;
	font-size:inherit;
}

button.learn-more{
	width: 192px;
}

button.learn-more .circle{
	position:relative;
	width:48px;
	height:48px;
	border-radius: 26px;
	background: #282936;
	display: block;
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.icon{
	position: absolute;
	display: block;
	top: -2.25px;
	bottom: 0;
	margin: auto;
	background: #fff;
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.arrow{
	left: 10px;
	width: 19px;
	height:3px;
	background:none;
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.icon.arrow::before{
	position: absolute;
	content: '';
	top: -4px;
	right: 1px;
	width: 10px;
	height:10px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.text{
	position: absolute;
	top: -1.25px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px 0;
	margin: 0 0 0 29.6px;
	color: #282936;
	font-weight:700;
	text-transform: uppercase;
}

button:hover .circle{
	width: 100%;
}

button:hover .arrow{
	background:#fff;
	transform: translate(16px, 0);
	-webkit-transform: translate(16px, 0);
}

button:hover .text{
	color:#fff;
}


/*Color Name : Black Rock & Thanks For Watching!!!*/